/* Navbar Component */
#navbar {
  height: 110px;
  width: 100%;
  background: #1d1d1d;
  z-index: 1;
  position: fixed; }
  #navbar i.fa-search {
    color: #919191;
    font-size: 12px;
    position: absolute;
    top: 49px;
    left: 26px; }
  #navbar .logo {
    padding-top: 5px; }
    #navbar .logo img {
      width: 150px;
      height: 100px; }
    #navbar .logo span {
      color: #919191;
      font-size: 18px; }
  #navbar .col-md-6:last-child .navbar-right {
    padding-top: 37.5px; }
    #navbar .col-md-6:last-child .navbar-right div:first-child {
      display: inline-block; }
      #navbar .col-md-6:last-child .navbar-right div:first-child input {
        width: 250px;
        height: 35px;
        font-size: 0.85em;
        font-weight: bold;
        color: #919191;
        background: #1d1d1d;
        padding: 4px 30px;
        border: 2px solid #333;
        margin-right: 10px;
        border-radius: 20px; }
        #navbar .col-md-6:last-child .navbar-right div:first-child input:focus {
          outline: none; }
    #navbar .col-md-6:last-child .navbar-right .nav-links {
      display: inline-block; }
      #navbar .col-md-6:last-child .navbar-right .nav-links a {
        display: inline-block;
        padding: 0 10px;
        font-weight: bold;
        font-size: 13px;
        text-decoration: none; }
        #navbar .col-md-6:last-child .navbar-right .nav-links a:nth-child(-n+2) {
          color: #919191; }
          #navbar .col-md-6:last-child .navbar-right .nav-links a:nth-child(-n+2):hover {
            color: #fff;
            transition: 0.3s ease-in all; }
        #navbar .col-md-6:last-child .navbar-right .nav-links a:nth-child(n+3) {
          color: #fff; }
          #navbar .col-md-6:last-child .navbar-right .nav-links a:nth-child(n+3):hover {
            color: #919191;
            transition: 0.3s ease-in all; }
      #navbar .col-md-6:last-child .navbar-right .nav-links span {
        padding: 0 10px;
        color: #919191; }
