/* Render Movie Card Component */
a {
  text-decoration: none !important; }

.detail-movie-link {
  cursor: initial; }

.detail-movie {
  width: 200px;
  margin: 0 auto;
  position: relative; }
  .detail-movie .detail-img {
    cursor: pointer; }
    .detail-movie .detail-img:before {
      content: '';
      color: #fff;
      height: 305px;
      width: 190px;
      position: absolute;
      top: 5px;
      left: 5px;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0; }
    .detail-movie .detail-img:hover img {
      border: 5px solid #6ac045; }
    .detail-movie .detail-img:hover:before, .detail-movie .detail-img:hover .hidden-details {
      opacity: 1; }
    .detail-movie .detail-img:hover .hidden-details .hidden-details-btn {
      margin-top: 40px;
      transition: 0.25s all ease-in; }
    .detail-movie .detail-img .hidden-details {
      text-align: center;
      opacity: 0;
      transition: 0.25s all ease-in;
      color: #fff;
      position: absolute;
      top: 0;
      width: 200px;
      padding-top: 40px;
      left: 0;
      pointer-events: none; }
      .detail-movie .detail-img .hidden-details i {
        font-size: 25px;
        transform: scale(0.83611, 1);
        color: #6ac045; }
      .detail-movie .detail-img .hidden-details .hidden-details-rating {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: bold; }
      .detail-movie .detail-img .hidden-details .hidden-details-genre {
        font-size: 25px;
        font-weight: bold; }
      .detail-movie .detail-img .hidden-details .hidden-details-btn {
        cursor: pointer;
        pointer-events: fill !important;
        transition: 0.25s all ease-in;
        font-weight: bold;
        color: #fff;
        border-radius: 3px;
        background: #6ac045;
        width: 130px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        margin: 75px auto 0 auto;
        font-size: 16px; }
        .detail-movie .detail-img .hidden-details .hidden-details-btn:hover {
          background: #5da93c; }
    .detail-movie .detail-img img {
      height: 315px;
      width: 200px;
      border: 5px solid #fff;
      cursor: pointer; }
  .detail-movie .detail-title {
    font-size: 0.95em;
    font-weight: 700;
    color: #fff;
    cursor: pointer; }
    .detail-movie .detail-title:hover {
      color: #919191;
      transition: 0.25s all ease-in; }
  .detail-movie .detail-movieYear {
    font-size: .85em;
    color: #919191; }
  .detail-movie .quality-banner {
    width: 120px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: 5px;
    left: 5px; }
    .detail-movie .quality-banner .detail-quality {
      position: absolute;
      width: 175px;
      background: black;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      font-size: 25px;
      font-weight: bold;
      transform: rotate(-40deg);
      top: 12px;
      left: -45px; }
    .detail-movie .quality-banner .blue {
      background: #428bca !important; }
