/* Searched Movies Component */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul.rendered-movie-list {
  position: absolute; }
  ul.rendered-movie-list li {
    width: 250px;
    padding: 10px;
    height: 85px;
    background-color: #3d3d3d;
    clear: both;
    cursor: pointer;
    overflow: hidden; }
    ul.rendered-movie-list li:hover {
      background: #adacac; }
    ul.rendered-movie-list li .searched-movie-img {
      float: left; }
      ul.rendered-movie-list li .searched-movie-img img {
        width: 43px;
        height: 63px;
        margin-right: 15px; }
    ul.rendered-movie-list li .movie-info-short {
      float: right;
      width: 172px; }
      ul.rendered-movie-list li .movie-info-short .searched-movie-title {
        line-height: 18px;
        padding: 5px 0;
        margin-left: 10px;
        color: #fff;
        font-size: 12px;
        font-weight: bold; }
      ul.rendered-movie-list li .movie-info-short .searched-movie-year {
        margin-left: 10px;
        color: #919191;
        font-size: 12px; }
