/* Similar Movies Component */
.similar_movies {
  width: 250px; }
  .similar_movies .similar-movies-title {
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #fff; }
  .similar_movies .similar-movie-card {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 4px solid #fff; }
    .similar_movies .similar-movie-card:hover {
      border: 4px solid #6ac045; }
    .similar_movies .similar-movie-card img {
      width: 92px;
      height: 138px; }
