/*  App Container  */

.home-content {
  // background-image: url('../images/background.jpeg');
  // background-size: cover;
  height: 1030px;
  background: rgb(53, 51, 51);
  // width: 100%;
  padding-top: 110px;
}